<ion-header class="ion-no-padding" style="border: 1px solid red;">
  <ion-toolbar class="nav-toolbar ion-no-padding" >
    <div class="nav-content">
      <!-- Text-based logo -->
      <span class="logo">Job <span class="logo-text"> Board</span> </span>

      <!-- User Profile Icon -->
      <ion-icon
        class="nav-icon"
        slot="start"
        name="person-circle-outline"
        style="color: black"
      ></ion-icon>

      <!-- Hamburger Menu Icon -->
      <ion-icon
        name="menu-outline"
        class="nav-icon hamburger"
        (click)="toggleMenu()"
        style="color: black"
      ></ion-icon>
    </div>

    <!-- Dropdown Menu -->
    <div class="dropdown-menu" [class.open]="menuOpen">
      <ion-list>
        <ion-item button>Home</ion-item>
        <ion-item button>About</ion-item>
        <ion-item button>Services</ion-item>
        <ion-item button>Contact</ion-item>
      </ion-list>

      <div class="cta-wrapper">
        <ion-button expand="block" fill="solid"  class="cta-btn">Post a Job</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
